//- Mixins

//- Symbol mode sprite
mixin svg(title, width, height)
  svg(class=`symbol-${title}`, width=width, height=height)&attributes(attributes)
    use(xlink:href=`#${title}`)

//- View mode sprite
mixin icon(title)
  img(src=`img/sprites/sprite.svg#${title}`, alt=`${title}`)&attributes(attributes)

//- WebP Picture
mixin picture(image)
  picture
    source(srcset=`img/${image}.webp`, type="image/webp")
    img(src=`img/${image}.${ext || 'jpg'}`, alt= alt, loading="lazy")&attributes(attributes)
//- Usage:  +picture("filename", alt="Picture", ext="png").block__picture


//- Form controls
mixin checkbox(text, checked)
  label
    input.form__checkbox(type="checkbox", checked=checked)
    span.form__label= text

mixin checkbox-id(text, id, checked)
  input.form__checkbox(type="checkbox", id=id, checked=checked)
  label.form__label(for=id)= text

//- Sample
mixin deals(description, image)
  .deals__item
    a.deals__link(href="#")
      .deals__image
        img(src=`img/${image}`, alt="Projects")
      p.deals__descr= description